.body{
  font-family:courier,arial,helvetica;
}
.accept_link{
  cursor: pointer;
}
.reject_link{
  cursor: pointer;
}
.reschedule_link{
  cursor: pointer;
}
.exit_meet{
  cursor: pointer;
}
#status{
  font-size:0.75rem;
}