body{
  margin:0;
  padding: 0;
  user-select: none;
}
h2{
  color:#aeaeae;
}
#loginHeading{
  font-weight: 700;
  font-size: 1.5rem;
}
.wrapper{
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;

  .card{
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  }
}

.form{
  margin-top: 3rem;
}
.link{
  text-decoration: none;
}
  @media only screen and (min-width:768px){
    .card{
      width: 40vw;
    }
  }
