.section-label {
  font-weight: bold !important;
}
.small-font{
  font-size: 0.75rem;
}
.no-wrap {
  white-space: nowrap;
}
.br-2{
  border-radius: 0.5rem !important;
}
.mr-1{
  margin-right: 0.25rem ;
}
.mr-2{
  margin-right: 0.5rem ;
}
.mr-3{
  margin-right: 0.75rem ;
}
.ml-2{
  margin-left: 0.5rem ;
}
.btn{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}

.nav-link{
  font-weight: 600;
  color :rgba(255,255,255,0.8) !important;
}
.card{
  border:1px solid rgb(0,0,0) !important;
  .card-header{
    background-color: #3B3B98 !important;
    color: white;
    font-weight: 500;
  }
}
.form-control,.form-select{
  border:1px solid rgb(0,0,0) !important;
}
.wrapper{
  width:100%;
  min-height: 400px;
  max-height: 75vh;
  border:1px solid black;
  margin-top: 1rem;
  padding: 1.5rem;
  overflow: hidden;
}
.table-wrapper{
  margin: 1rem auto 50px;
  height: 450px;
  overflow-y: scroll;
}
.table-footer{
  padding:0.5rem 1.5rem;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
  z-index: 10;
  background-color: white;
}
.input-select{
  padding: 1px 2px;
}
.center_card{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.input-group{
  input{
    border-right: 0px;
  }
}
#input-icon{
  height: 100%;
  background-color: white;
  border-top:1px;
  border-right:1px;
  border-bottom:1px;
  border-left:0px;
  border-style: solid;
  border-color: #ced4da;
}
.data-row{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .key{
    font-weight: bold;
  }
}
.dp{
  width:100%;
  margin: 1rem auto;
}
.username{
  text-align: center;
  font-weight: bolder;
}
.shutter{
  .shutter-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 1rem;
    margin-top:1rem;
    margin-bottom: 0.5rem;
    border:1px solid rgba($color: #000000, $alpha: 0.25);
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  }
  .shutter-body{
    padding:1rem 1rem;
  }
}
.emp_id{
  font-size: 0.75rem;
  color:dimgrey;
  font-style: italic;
}
.user_card{
  .card-body{
    position: relative;
  }
  .edit_btn{
    text-decoration: none;
  }

  .userId{
    font-size: 0.75rem;
    color:dimgrey;
    font-style: italic;
  }
  .user_details{
    margin-top: 0.5rem;
    padding-bottom: 3rem;
    span{
      display: block;
      line-height: 2rem;
    }
  }
  .user_role{
    position: absolute;
    display: flex;
    bottom: 0;
    left:0;
    right: 0;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    font-weight: 700;
    font-size: 1.25rem;
    color:white;

  }
}
.details_card{
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  .card-body{
    position: relative;
  }
  a{
    text-decoration: none;
  }

  .id{
    font-size: 0.75rem;
    color:dimgrey;
    font-style: italic;
  }
  .details{
    margin-top: 0.75rem;
    span{
      display: block;
      line-height: 2rem;
    }
  }

}

.camera_input{
  width: 100%;
  background-color: grey;
}

.meet_details{
  span{
    font-size: 0.75rem;
    font-style: italic;
    color:grey;
  }
}
.m-reject{
   background-color: #FFDFDF !important;
}
.m-confirm{
   background-color: #C2FFC8 !important;
}

